<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.uniface.Url"
        version="0.7.0">

  <name>UnifaceSchema</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
          <feature name="Url">
              <param name="android-package" value="com.uniface.url.Url"/>
              <param name="onload" value="true" />
          </feature>
      </config-file>
      <source-file src="src/android/Url.java" target-dir="src/com/uniface/url/"/>
  </platform>
  <platform name="ios">
      <config-file target="config.xml" parent="/*">
          <feature name="Url">
              <param name="ios-package" value="CDVUrl"/>
              <param name="onload" value="true"/>
          </feature>
      </config-file>
      <source-file src="src/ios/CDVUrl.h"/>
      <source-file src="src/ios/CDVUrl.m"/>
  </platform>
</plugin>
